<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>inscription</title>
    <link rel="stylesheet" href=" {{url_for('static', filename='css/modif.css')}} ">
    <style>
        .conne{
            width: 100%;
        }
    </style>
</head>
<body> <div class="f1"></div>
    <form action="{{ url_for('update', id=user.id) }}" method="post" class="pri"> 
           
            <div class="moi2">
                <!--  -->
               
                <div class="cont"> 
                    <div class="conne"><h4>modifier</h4></div>
                  
                    <input type="text" name="name" placeholder="Nom" id="" value="{{user.name}}" required>
                    <input type="email" name="email" placeholder="Adresse e-mail" value="{{user.email}}" id="" required>
                    <input type="tel" name="tel" placeholder="Numéros" value="{{user.tel}}" id="" required> 
                    <input type="password" placeholder="Mot de passe" name="password" value="{{user.password}}" id="" required>
                    <input type="submit" name="" id="">
                </div>
            </div>
    </form> 
</body>
</html>
